@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  width: 100%;
  height: 250px;
  background-image: url("../assets/img/agricultura.jpg");
  background-size: cover;
}

.encabezado h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  color: white;
}

.encabezado p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

.logo-center img {
  width: 350px;
}

.logo-center {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  min-height: 500px;
  padding: 20px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  overflow: visible;
  order: initial;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  background-image: url("../assets/img/prp-home-02.jpg");
  display: grid;
  align-items: center;
}

.header-in {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 80px;
  text-align: center;
}

.header-in h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-shadow: #333 3px 0 10px;
}

.header-in img {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.modelo, .contacto, .pronostico, .nosotros-top {
  width: 100%;
  height: 250px;
  background-image: url("../assets/img/encabezado-modelo.jpg");
  background-size: cover;
  margin-bottom: 30px;
  display: grid;
  align-items: center;
}

.modelo h1, .contacto h1, .pronostico h1, .nosotros-top h1 {
  font-family: "Figtree", sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.nosotros-top {
  background-image: url("../assets/img/nosotros.jpg");
}

.pronostico {
  background-image: url("../assets/img/encabezado-pronostico.jpg");
}

.contacto {
  background-image: url("../assets/img/encabezado-01.jpg");
}

body {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: "Figtree", sans-serif;
  line-height: 1.35;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  color: #086fa6;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.875rem;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.contenedor {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.7rem;
}

.pb20 {
  padding-bottom: 1.25rem;
}

.pronostico-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.pronostico-home article {
  width: 50%;
  padding: 20px;
}

.imagen-home img {
  max-width: 500px;
  border-radius: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #086fa6;
  padding-top: 20px;
  padding-bottom: 10px;
}

.servicios {
  background-color: #e6f1f6;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.servicios article {
  padding: 20px;
}

.nosotros {
  padding: 1em;
  display: grid;
  grid-template-columns: 25% 75%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1200px;
}

.nos-foto {
  padding: 20px;
}

.nos-foto img {
  border-radius: 50%;
}

.nos-info {
  padding: 2em;
}

.cargo {
  font-size: 1.2em;
  font-weight: 100;
  margin-bottom: 15px;
}

.contenedor-nos {
  background-color: #f2f2f2;
  margin-bottom: 1.2em;
}

.contacto h1 {
  font-family: "Figtree", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  color: white;
}

.alto-minimo {
  min-height: 300px;
}

.pronostico1 {
  width: 90%;
  min-width: 90px;
  max-width: 1000px;
  height: auto;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 60% repeat(4, 1fr);
  place-items: left;
  font-size: 0.9375rem;
  color: white;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  line-height: 1, 8rem;
  border: solid 1px white;
}

.pronostico1 p {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  border: solid 1px white;
}

.pronostico1 h4 {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 10px;
  color: black;
  font-weight: 400;
  border: solid 1px white;
  background-color: #f6f6f6;
}

.encabezado1 {
  width: 90%;
  min-width: 90px;
  max-width: 1000px;
  height: auto;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 60% repeat(4, 1fr);
  place-items: left;
}

.encabezado1 h4 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  text-align: left;
  background-color: #086fa6;
  border: solid 1px white;
  padding: 10px;
}

.encabezado1 p {
  line-height: 1, 8rem;
  color: white;
  text-align: left;
  background-color: #086fa6;
  border: solid 1px white;
  padding: 10px;
}

.resultado1 {
  display: grid;
  grid-template-columns: 60% repeat(4, 1fr);
  place-items: left;
}

.resultado1 p, h4 {
  color: white;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  line-height: 1, 8rem;
  font-size: 0.875rem;
  text-align: center;
  border: solid 1px white;
}

.risk {
  min-width: 65px;
}

.risk0 {
  background-color: #14a12e;
}

.risk01 {
  background-color: #54ab26;
}

.risk02 p {
  background-color: #82b81f;
}

.risk03 {
  background-color: #c2d11a;
}

.risk04 {
  background-color: #fccc0d;
}

.risk05 {
  background-color: #f59e17;
}

.risk06 {
  background-color: #ed7326;
}

.risk07 {
  background-color: #e8592e;
}

.risk08 {
  background-color: #cc2e1c;
}

.risk09 {
  background-color: #9e1d1b;
}

.risk1 {
  background-color: #781417;
}

.info {
  padding: 10px 0px 20px 0px;
}

.intro {
  width: 90%;
  max-width: 1000px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro img {
  padding: 20 0 10 0;
  display: flex;
  flex-direction: column;
}

.consulta {
  display: block;
  text-align: center;
}

.consulta [type=button] {
  background-color: #086fa6;
}

.consulta input {
  min-width: 200px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: inherit;
  color: #ffffff;
  margin: 1rem;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 1.25rem;
}

.consulta input:hover {
  background-color: #00597e;
}

.consulta input:a {
  background-color: #00597e;
}

.btn [type=button] {
  background-color: #15a7b4;
}

.paso1 {
  display: flex;
  max-width: fit-content;
  padding-left: 10px;
}

label {
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  padding-bottom: 3px;
  padding-top: 5px;
  font-family: "Figtree", sans-serif;
}

.paso1 select {
  min-width: 200px;
  max-width: 350px;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  border: solid 1px lightgrey;
  font-family: "Figtree", sans-serif;
  font-size: 0.875rem;
  padding: 10px;
}

select {
  min-width: 200px;
  max-width: 350px;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  border: solid 1px lightgrey;
  font-family: "Figtree", sans-serif;
  font-size: 0.875rem;
  padding: 10px;
}

.paso2 {
  min-width: 200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: fit-content;
  padding-left: 10px;
}

input {
  margin-right: 1rem;
  border-radius: 0.25rem;
  border: solid 1px lightgrey;
  font-family: "Figtree", sans-serif;
  font-size: 0.875rem;
  padding: 10px;
}

.contacto-info {
  padding: 20px;
  margin-bottom: 40px;
}

.prp-form {
  margin-bottom: 40px;
}

.prp-form form {
  margin: 0 auto;
  width: 400px;
}

.prp-form div + div {
  margin-top: 1em;
}

.prp-form label {
  padding-top: 20px;
  display: inline-block;
  width: 90px;
  text-align: right;
}

.prp-form input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

.prp-form input:focus, textarea:focus {
  border-color: #000;
}

.prp-form textarea {
  margin-top: 20px;
  padding: 10px;
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.prp-form .button {
  padding-left: 90px;
}

.prp-form button {
  margin-left: 0.5em;
}

footer {
  background-color: #f6f6f6;
}

footer img {
  height: 80px;
  margin: 20px;
}

footer p {
  text-align: center;
  padding: 10px 0 30px 0;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

:root {
  --color_menu: #086fa6;
  --altura_header: 70px;
  --padding_left_right: 1.25rem;
  --ancho_maximo: 1400px;
}

.gris {
  background-color: gainsboro;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

.header-nav {
  height: var(--altura_header);
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.nav-bar {
  font-family: "Figtree", sans-serif;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
  display: none;
}

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header));
  background-color: white;
}

.logo {
  color: var(--color_menu);
}

.logo img {
  width: 150px;
}

.label_hamburguesa {
  background-color: white;
}

.list_icon {
  color: var(--color_menu);
  cursor: pointer;
}

.ul_links {
  width: 100%;
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  transition: all 0.3s;
  z-index: 999;
}

.li_links {
  font-weight: 600;
}

.link {
  font-size: 1.5rem;
  color: var(--color_menu);
  font-weight: 700;
  text-transform: uppercase;
}

.modagri {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.logo-top {
  display: flex;
  justify-content: center;
}

.logo-top img {
  width: 250px;
  padding: 10px;
}

.hero_header {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: "Nunito", sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
}

.hero {
  background-image: url("../assets/img/background-modagri.jpg");
  background-color: #B3B3B3;
  padding-top: 150px;
  padding-bottom: 150px;
}

.light {
  font-weight: bold;
  color: #717070;
}

.tagline {
  text-align: center;
  color: #FFFFFF;
  margin-top: 4px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.que-es h2 {
  color: #0b5a58;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-align: center;
  padding-top: 20px;
}

.que-es p {
  font-size: 1.125rem;
}

.que-es {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text_column {
  max-width: 800px;
  text-align: justify;
  font-weight: 400;
  line-height: 25px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  color: #666666;
}

.about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FFFFFF;
  margin-top: 0px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  color: #0b5a58;
  margin-bottom: 5px;
}

.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}

.thumbnail {
  width: auto;
  text-align: center;
  float: left;
  margin-top: 35px;
}

.gallery .thumbnail h4 {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #52BAD5;
}

.gallery .thumbnail p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #A3A3A3;
}

.banner {
  margin-top: 25px;
  background-image: url("../assets/img/prp-home-02.jpg");
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax {
  color: #FFFFFF;
  text-align: center;
  font-weight: 900;
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  padding-top: 110px;
  margin-top: 0px;
}

.parallax_description {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.button {
  font-family: "Nunito", sans-serif;
  width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  background-color: #16adab;
}

.button:hover {
  background-color: #FEFEFE;
  color: #0b5a58;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
}

.button a:hover {
  color: #0b5a58;
}

.button-banner {
  font-family: "Nunito", sans-serif;
  width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  background-color: #16adab;
}

.button-banner:hover {
  background-color: #FEFEFE;
  color: #0b5a58;
  cursor: pointer;
}

.button-banner a {
  text-decoration: none;
  color: white;
}

.button-banner a:hover {
  color: #0b5a58;
}

.copyright {
  font-size: sm;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
}

.container-servicios {
  display: flex;
  min-height: 540px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-image: linear-gradient(to right bottom, #78d2e5, #61bfda, #4cadcf, #379ac3, #2288b7, #197bab, #106fa0, #056394, #045a86, #035179, #03486c, #033f5f);
}

.card-container {
  width: 375px;
  height: 450px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-container h3 {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-container h4 {
  color: #086fa6;
  border: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-container p {
  padding-left: 20px;
  padding-right: 20px;
}

.card-container div {
  width: 100%;
  height: 180px;
}

.card-container div img {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.article {
  position: relative;
}

/* Desktop */
@media (min-width: 768px) and (max-width: 1096px) {
  .contenedor {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pronostico {
    margin-bottom: 10px;
  }
  .pronostico-home {
    display: grid;
    grid-template-columns: 100%;
  }
  .pronostico-home article {
    width: 90%;
  }
  .imagen-home img {
    max-width: 100%;
  }
  .encabezado p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 100%;
  }
  .nos-foto {
    margin-left: auto;
    margin-right: auto;
  }
  .nos-info h2 {
    text-align: center;
  }
  .logos {
    display: inline;
  }
  .logo-center img {
    width: 350px;
  }
  .logo-center {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-in {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
  }
  .header-in h1 {
    font-size: 2rem;
  }
  .modelo, .nosotros-top, .pronostico, .contacto {
    width: 100%;
    height: 150px;
  }
  .paso2 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
/* Tablets */
@media (min-width: 321px) and (max-width: 767px) {
  .contenedor {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-top {
    min-height: 300px;
  }
  .pronostico {
    margin-bottom: 10px;
  }
  .pronostico-home {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .pronostico-home article {
    width: 100%;
    padding: 10px;
  }
  .servicios {
    display: grid;
    padding: 20px;
  }
  .imagen-home img {
    max-width: 100%;
  }
  .encabezado p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 100%;
  }
  .nos-foto {
    margin-left: auto;
    margin-right: auto;
  }
  .nos-info h2, h3, p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logos {
    display: grid;
  }
  .logo-center img {
    width: 250px;
  }
  .logo-center {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-in {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
  }
  .header-in h1 {
    font-size: 1.2rem;
  }
  .modelo, .nosotros-top, .pronostico, .contacto {
    width: 100%;
    height: 150px;
  }
  .about {
    grid-template-columns: 100%;
  }
  .paso1 {
    display: grid;
  }
  .paso2 {
    display: grid;
    grid-template-columns: max-content;
  }
  .info img {
    max-width: 340px;
  }
  .prp-form label {
    min-width: 200px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .label_hamburguesa {
    display: none;
  }
  .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 0.5rem;
  }
  .link {
    font-size: 1rem;
    transition: all 0.3s;
    padding: 0.25rem 0.4rem;
  }
  .link:hover {
    color: #6ba9ca;
  }
  .label_hamburguesa {
    display: none;
  }
  .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 0.5rem;
  }
  .link {
    font-size: 1rem;
    transition: all 0.3s;
    padding: 0.25rem 0.4rem;
  }
  .link:hover {
    color: #6ba9ca;
  }
}
@media (max-width: 320px) {
  .contenedor {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-top {
    min-height: 250px;
  }
  .pronostico {
    margin-bottom: 10px;
  }
  .pronostico-home {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .pronostico-home article {
    width: 100%;
    padding: 10px;
  }
  .servicios {
    display: grid;
    padding: 20px;
  }
  .imagen-home img {
    max-width: 100%;
  }
  .encabezado p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .nosotros {
    grid-template-columns: 100%;
  }
  .nos-foto {
    margin-left: auto;
    margin-right: auto;
  }
  .nos-foto {
    margin-left: auto;
    margin-right: auto;
  }
  .nos-info h2, h3, p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logos {
    display: grid;
  }
  .logo-center img {
    width: 250px;
  }
  .logo-center {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-in {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }
  .header-in h1 {
    font-size: 1.2rem;
  }
  .modelo, .nosotros-top, .pronostico, .contacto {
    width: 100%;
    height: 150px;
  }
  .about {
    grid-template-columns: 100%;
  }
  .paso1 {
    display: grid;
  }
  .paso2 {
    display: grid;
    grid-template-columns: max-content;
  }
  .info img {
    max-width: 310px;
  }
  .prp-form label {
    min-width: 200px;
    text-align: left;
  }
  .prp-form input, textarea {
    font: 0.85em sans-serif;
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
