footer {
    background-color: #f6f6f6;
}
footer img{
    height: 80px;
    margin: 20px;
}
footer p{
    text-align: center;
    padding: 10px 0 30px 0;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}