body{
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family: 'Figtree', sans-serif;
    line-height: 1.35;
    font-size: map-get($fuentes, sm);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    color: #086fa6;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.875rem;
}
main{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.contenedor{
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.7rem;
}
.pb20{
    padding-bottom: 1.25rem;
}